.alert{
  padding: 15px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
}
.alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;

}
.alert-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;

}