 .btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: background-color 0.3s; 
  margin: 10px;
 }

.btn-primary {
  background-color: #007bff; 
}
.btn-primary:hover {
  background-color: #0056b3; 
}

.btn-danger {
  background-color: #dc3545; 
}
.btn-danger:hover {
  background-color: #a71d2a; 
}

.btn-success {
  background-color: #28a745;
}
.btn-success:hover {
  background-color: #1e7e34; 
}