.login{
    position: relative;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    width: 25%;
    animation: fadeIn 0.7s ease-in-out;
   
    
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-50px); }
  to { opacity: 1; transform: translateY(0); }
}