.card{
    border-radius: 10px;
    /* width: 100%; */
    height: 80%; 
    min-height: 300px; 
    padding: 10px;
    margin: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.185);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.productImage{
    width: 35%;
    
    
}
h2,p{
    margin: 10px 0;
}