.card{
    border-radius: 10px;
    width: 10%;
    height: 200px;
    padding: 10px;
    margin: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
    

}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.productImage{
    width: 80%;
    
    
}
h2,p{
    margin: 10px 0;
}