.product-grid {
  display: grid; 
  gap: 20px;   
  grid-template-columns: repeat(3, 2fr);
}
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}